<article class="card mb-3">

    <div class="card-body">
        {{!-- le pasamos el item que contiene el this para poder acceder a las propiedades del array --}}
        <p>{{item.origin}}</p>

        <p>{{item.shortURL}}</p>

        {{!-- vamos hacer una solicitud en get a la ruta raiz, le ponemos eliminar y le pasamos el paramate del id
        correspondiente para despues esta ruta leerla en nuestra servidor--}}
        <a href="/eliminar/{{item._id}}" class="btn btn-danger">Eliminar</a>

        <a href="/editar/{{item._id}}" class="btn btn-warning">Editar</a>

        <button data-short={{item.shortURL}} class="btn btn-primary">Copiar</button>


    </div>

</article>